/* Conteneur de l'entête de la page
   qui va reçevoir le titre du jeu
    <body><header>Titre du jeu</header></body>
 */
header {
  background-color: #EFEFEF;
  padding: 0.5em;
  text-align: center;
  font-size: 1.7em;
}
