/* Tableau contenant la liste des résultats */
.result-list {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;

  .columnHeadName {
    width: 15em;
    height: 2.5em;
    font-size: 2em;
  }

  .rowData {
    font-size: 1.2em;
    height: 2em;
  }
}
